.message {
  background-color: #1a1e2b;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 4px;
  word-break: break-word;
}

.avatar img {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  position: relative;
  align-items: center;
}
