.message {
  background-color: #1a1e2b;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 4px;
  word-break: break-word;
}

.avatar img {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.messageWrapper {
  display: flex;
  align-items: center;
}

.modifyMessage {
  display: flex;
  opacity: 0;
  transition: 0.1s;
}

.delete {
  margin-left: 4px;
  color: #ff6666;
  cursor: pointer;
}

.edit {
  color: #63abe6;
  cursor: pointer;
}

.wrapper:hover .modifyMessage {
  opacity: 1;
}
